# caddy-apple.container

[Container]
Image=docker.io/library/caddy
AutoUpdate=registry
RunInit=true
Exec=caddy file-server --root /usr/share/caddy/ --domain libro.ubb.menoscero.com
HealthCmd=nc -z 127.0.0.1 443 || exit 1
Network=vlan130-cosyn.network
IP=146.83.193.154

[Install]
WantedBy=multi-user.target
