# caddy-papel.container

[Container]
Image=docker.io/library/caddy
AutoUpdate=registry
RunInit=true
Exec=caddy file-server --root /usr/share/caddy/ --domain papel.ubb.menoscero.com
Network=vlan130-cosyn.network
IP=146.83.193.153

[Install]
WantedBy=multi-user.target
