# jupyter-https-radio.container

[Container]
Image=docker.io/library/caddy
AutoUpdate=registry
RunInit=true
Exec=caddy reverse-proxy --from radio.ubb.menoscero.com --to http://synco.ubb.menoscero.com:8888
Network=vlan130-synco.network
IP=146.83.193.156

[Install]
WantedBy=multi-user.target
