# jupyter-https-synco.container

[Container]
Image=docker.io/library/caddy
AutoUpdate=registry
RunInit=true
Exec=caddy reverse-proxy --from synco.ubb.menoscero.com --to http://systemd-jupyter-hub:8000
PublishPort=80:80
PublishPort=443:443

[Install]
WantedBy=multi-user.target
