# jupyter-https-valjh.container

[Container]
Image=docker.io/library/caddy
RunInit=true
Exec=caddy reverse-proxy --from valjh.menoscero.com --to http://systemd-jupyter-hub:8000
PublishPort=80:80
PublishPort=443:443

[Install]
WantedBy=multi-user.target
